#navbar {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    height:5%;
    padding-left:2%;
    background-color: #3985F7;
}

body {
    margin: 0px;
 }

#navbar a{
    color:white;
    font-family:Arial;
    text-decoration: none;
}

#navbar a:hover {
    background-color:#3985F7;
    color:purple;
}

#logo {
    flex:0.4;
    order:1;
}

#logo img{
    width:60px;
    height:60px;
}

.navitem-1 {
    font-size:20px;
    flex:0.6;
    order:3;
}

.navitem-2 {
    font-size:20px;
    flex:0.6;
    order:4;
}
.navitem-3 {
    font-size:20px;
    flex:0.6;
    order:5;
}

.navitem-4 {
    font-size:20px;
    flex:3;
    order:2;
    position: relative;
    min-width: 100px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search-icon {
    position: absolute;
    top: 24px;
    left: 25px;
    width: 20px;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    top: 30px;
    right: 90px;
    width: 10px;
    cursor: pointer;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}


.navitem-5 {
    font-size:20px;
    flex:0.6;
    order:5;
}

#profile {
    flex:1;
    order:6;

}

.navitem-1, .navitem-2, .navitem-3, .navitem-4, .navitem-5{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}

/* .navitem-1 a, .navitem-2 a, .navitem-3 a, .navitem-4 a{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
} */


.navbar-items {
    display:flex;
    flex-basis:100%;   
}

#profile {
    display:flex;
    justify-content:center;
    padding-left:2%;
    padding-right:2%; 
}

#profile div {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#username-and-schoolID p{
    color:white;
    font-family:Arial;
    text-decoration: none;
    padding-left:10px;
}

.profile-items {
    display:flex;
    flex-direction: row;
    align-content:center;
    /* flex-basis:10%;
     */
}

/* #username div, #schoolID div{
    border:1px #ccc solid;
    padding:10px;
    
} */

#username-and-schoolID div{
    display:flex;
    /* flex-direction:column; */
    align-items: center;
}

#profile-image img{
    
    width:36px;
    height:36px;
    border-radius:50%;
}

#profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div{
    display:flex;
    flex-direction:column;
    /* background-color:rgb(255, 92, 113); */
    padding-left:6%;
    padding-right:7%;
    padding-top:2%;
}

.container h1,p,li,h2, strong{
    color:black;
    font-family:Arial;
    text-decoration: none;
}

.paragraph div{
    display:flex;
    flex-direction:column;
}


.title {
    display:flex;
    flex-basis:100%;
    flex-direction: row;
    justify-content: center;
}

#interactionflow img{
    width:100%;
    height:auto;
}

#signifierex {
    width:400px;
    height:auto;
}
