#navbar {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    height:5%;
    padding-left:2%;
    background-color: #3985F7;
}

body {
    margin: 0px;
 }

 /* html {
    overflow-y: scroll; overflow-x:hidden;
 } */

#navbar a{
    color:white;
    font-family:Arial;
    text-decoration: none;
}

#navbar a:hover {
    background-color:#3985F7;
    color:purple;
}

#logo {
    flex:0.4;
    order:1;
}

#logo img{
    width:60px;
    height:60px;
}

.navitem-1 {
    font-size:20px;
    flex:0.6;
    order:3;
}

.navitem-2 {
    font-size:20px;
    flex:0.6;
    order:4;
}
.navitem-3 {
    font-size:20px;
    flex:0.6;
    order:5;
}

.navitem-4 {
    font-size:20px;
    flex:3;
    order:2;
    position: relative;
    min-width: 100px;
    
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search-icon {
    position: absolute;
    top: 24px;
    left: 25px;
    width: 20px;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    top: 30px;
    right: 90px;
    width: 10px;
    cursor: pointer;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}


.navitem-5 {
    font-size:20px;
    flex:0.6;
    order:5;
}

#profile {
    flex:1;
    order:6;

}

.navitem-1, .navitem-2, .navitem-3, .navitem-4, .navitem-5{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}

/* .navitem-1 a, .navitem-2 a, .navitem-3 a, .navitem-4 a{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
} */


.navbar-items {
    display:flex;
    flex-basis:100%;   
}

#profile {
    display:flex;
    justify-content:center;
    padding-left:2%;
    padding-right:2%; 
}

#profile div {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#username-and-schoolID p{
    color:white;
    font-family:Arial;
    text-decoration: none;
    padding-left:10px;
}

.profile-items {
    display:flex;
    flex-direction: row;
    align-content:center;
    /* flex-basis:10%;
     */
}

/* #username div, #schoolID div{
    border:1px #ccc solid;
    padding:10px;
    
} */

#username-and-schoolID div{
    display:flex;
    /* flex-direction:column; */
    align-items: center;
}

#profile-image img{
    
    width:36px;
    height:36px;
    border-radius:50%;
}

#profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display:flex;
    flex-direction:row;

}

.container div {
    padding-left:6%;
    /* padding-right:7%; */
    padding-top:2%;
}

.welcome {
    flex:1;
    order:1;
}

.welcomevideo {
    flex:1;
    order:2;
}

.welcomevideo iframe{
    padding-top:6%;
}

.welcometext {
    font-family:Arial;
    padding-bottom:10px;
}

#description {
    color:black;
    font-size:20px;
}

#welcometo strong{
    color:black;
    font-size:24px;
}

.welcometext h1 {
    font-size:40px;
}

.containerButtons {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.containerButtons button{
    background-color: lightgrey;
    color:black;
    border: none;
    padding: 18px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border-radius:0;
    font-weight: 600;
    cursor: pointer;
}

.processlinks{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.containerButtons {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.needsanalysis, .problembrief, .designdev{
    background-color: rgb(1, 183, 255);
    color:white;
    border: none;
    padding: 100px 100px;
    margin:50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius:4px;
    font-weight: 600;
}

.needsanalysis h2, .problembrief h2, .designdev h2{
    color:white;
    font-family:Arial;
    text-decoration: none;
}

.needsanalysis h2:hover, .problembrief h2:hover, .designdev h2:hover {
    color:purple;
}

.recs {
    display:flex;
    flex-direction:column;
    padding-left:8%;
    /* padding-right:7%; */
    padding-top:2%;

}

.projectcard div {
    width:30%;

}

.testbox  {
    width:25%;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 5px 4px 8px grey;
    margin-right:80px;
}

.testboxes {
    display: flex;
    flex-direction: row;

}


.categorybutton {
    display:flex;
    flex-direction: row;
    
}

.testbox h3 {
    padding-left:16px;
}

.recstext  {
    margin-bottom:20px;
}

.categorybutton button{
    background-color: lightgrey;
    color:black;
    border: none;
    padding: 5px 8px;
    margin-left:16px;
    margin-right:16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius:0;
    cursor: pointer;
}

.location {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left:16px;
    margin-right:16px;
}


.locationicon img{
    width:20px;
    height:20px;
    border-radius:50%;
}

.recs p,h1,h2,h3{
    color:black;
    font-size:24px;
    font-family:Arial;
    text-decoration: none;
}

.collegename p{
    font-size:16px;
}

.memberslist {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left:16px;
    margin-bottom:5px;
    width:110%;
}

#membersnames p{
    font-size:16px;
    margin-left:16px;
}

.viewbutton {
    /* position:absolute;
    left:29%; */
    margin-left:15%;
}

.viewbutton button{
    background-color: white;
    color:black;
    border: 2px solid black;
    padding: 5px 12px;
    margin-left:16px;
    margin-right:16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius:0;
    cursor: pointer;
}

.sitefooter {
    position:relative;
    min-height:200px;
}

.footercontent {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    
}

.footlogo {
    margin-right:20px;

}

.footlogo img{
    width:60px;
    height:60px;
}
